<app-header></app-header>
<section>
    <div class="container">
        <div class="row">
            <div class="inner-main">
                <p><strong>Pseudo:</strong> {{this.currentUser.name}}</p>
                <p><strong>Email:</strong> {{this.currentUser.email}}</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                    Modifier
                  </button>
                  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Modifiez vos informations ici en remplissant tous les champs de caractère</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-signin" [formGroup]="updateForm" (ngSubmit)=" onSubmit()">
                                <div class="form-group">
                                    <label>Pseudo</label>
                                    <input type="text" class="form-control" formControlName="name" placeholder="Pseudo" id="pseudo" required>
                                </div>
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control" formControlName="email" placeholder="Email" id="email" required>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" formControlName="password" id="pwd" placeholder="Password" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Modifier</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                   Supprimez
                  </button>
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Pour supprimer votre compte envoyer un mail avec l'adresse email associé à <strong>gamespack92@gmail.com</strong>  avec pour objet <strong>Suppresion</strong> 
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>