form{
    height: 73vh;
    padding-top: 10vh;
    .form-group{
        margin-left: 40vw;
        padding-top: 3vh;
    }
    #pseudo{
        width: 20vw;
       
    }
    #email{
        width: 20vw;
    }
    #pwd{
        width: 20vw;
    }
    button{
      margin-left: 45vw;
      margin-top: 3vh;
      width: 10vw;
    }
}