<app-header></app-header>
<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="creationForm" (ngSubmit)="registerUser()">
        <div class="form-group">
            <label>Pseudo</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Pseudo" id="pseudo" required>
        </div>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email" id="email" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" id="pwd" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-block btn-primary" >S'inscrire</button>
    </form>
</div>
<app-footer></app-footer>