<div id="separateur"></div>
<section id="section">
  <div class="contain"> 
    <section class="card">
      <div class="title">
          {{gamesList?.name | uppercase}}
      </div>
      <div class="imgG" [style.background-image]="'url('+ gamesList?.img +')'"><p class="imgG"></p></div>
      
        <div class="desc" [innerHTML]="gamesList?.desc"></div>
    </section> 
  </div>
  <div class="containTwo"> 
      <section class="card">
        <div class="title">
            {{gamesDatas?.name | uppercase}}
        </div>
        <div class="imgG" [style.background-image]="'url('+ gamesDatas?.img +')'"><p class="imgG"></p></div>
        
          <div class="desc" [innerHTML]="gamesDatas?.desc"></div>

      </section> 
    </div> 
 </section>
