#section{
    width: 100vw;
    height: 70vh;
    display: flex;
    overflow:auto ;
}
#separateur{
    width: 100vw;
    height: 4vh;
    background-color: #E2E5EB;
}
.contain{
    width: 40vw;
    height: 60vh;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 5vw;
    padding-bottom: 1vh;
    // z-index: -1;
}
.containTwo{
    width: 40vw;
    height: 60vh;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 5vw;
    padding-bottom: 1vh;
}
.card{
    overflow-y: auto;
    overflow-x: hidden;   
    width: 40vw;
    height: 60vh;
    border-radius: 10px;
    background-color: white;
    margin-left: 5vw;
    padding-bottom: 1vh;
    box-shadow: -2px 3px 5px 5px #939687;
    .title{
        margin: 1vh 1vw;
    }
    img{
        border: none;
    }
    .imgG{
        height: 25vh;
        width: 40vw;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 3vh 1vw;
        border: none;
    }
  
    .desc{
        margin: 0 1vw;
        width: 33vw;
    }
   .buton{
       height: 25%;
       width: 6vw;
       padding-left: 1vw;
       background-color: #2B2E36;
       border-radius: 10px;
       margin-left: 28vw;
       a{
           color: #E2E5EB;
       }
   }
   .buton:hover{
       background-color: #6B7DB3;
   }
}

@media screen and (max-width:990px){
    .contain{
        width: 80vw;
        height: 60vh;
        overflow: hidden;
        border-radius: 10px;
        margin-left: 5vw;
        padding-bottom: 1vh;
        z-index: -1;
    }
    .card{
        width: 80vw;
        height: 60vh;
        background-color: white;
        margin-left: 11vw;
        box-shadow: -2px 3px 5px 5px #939687;
        .imgG{
        height: 25vh;
        width: 40vw;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 3vh 1vw;
        }
        .buton{
            height: 25%;
            width: 13vw;
            padding-left: 2vw;
            background-color: #2B2E36;
            border-radius: 10px;
            margin-left: 20vw;
            }
    }
    .containTwo{
        display: none;
    }

}


@media screen and (max-width:420px){
    .contain{
        width: 80vw;
        height: 60vh;
        overflow: hidden;
        border-radius: 10px;
        margin-left: 5vw;
        padding-bottom: 1vh;
        z-index: -1;
    }
    .card{
        width: 80vw;
        height: 60vh;
        background-color: white;
        margin-left: 11vw;
        box-shadow: -2px 3px 5px 5px #939687;
        .imgG{
        height: 25vh;
        width: 40vw;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 3vh 1vw;
        }
        .buton{
        height: 25%;
        width: 25vw;
        padding-left: 2vw;
        background-color: #2B2E36;
        border-radius: 10px;
        margin-left: 20vw;
        }
    }
    .containTwo{
        display: none;
    }
    
}