header{
    display: flex;
    // justify-content: space-around;
    height: 20vh;
    nav{
        
        width: 100vw;
        background-color: #6B7DB3 !important;
      #logo{
        height: 18vh;
        position: relative;
        top: 6px;
        left: 25px;
        }  
        h1{
            color: #E2E5EB;
            text-transform: uppercase;
            font-size: 36px;
        }
        a{
            color: #E2E5EB;
            font-size: 24px;
            padding-left: 1vw;
            text-decoration: none;
        }
    }
    #navigat{
        padding-left: 10vw;
    }
    #connect{
        padding-left: 14vw;
    }
    .test{
        padding-top: 1vh;
        
    }
    // .search{
    //     background-color: #E2E5EB;
    //     border: 0px;
    //     height: 85%;
    //     width: 20%;
    // }
    // .search:hover{
    //     background-color: #6B7DB3;
    // }
    // .search:visited{
    //     border:none;
    // }
    button{
        background-color:#6B7DB3 ;
        border: none;
        margin-left: 1vw;
    }
}

@media screen and (max-width:990px){
    header{
    height: 15vh;
    display: flex;
    nav{
        flex-direction: row-reverse;
        width: 100vw;
        background-color: #6B7DB3 !important;
        button{
            background-color: #E2E5EB;
            margin-left: -1vh;
         }
        #logo{
        height: 10vh;
        left:10px;
        top: 17px;
            }
            #navigat{
        padding-left: 0vw;
            }
            #connect{
        padding-left: 0vw;
          }
          ul{
              width: 32%;
              background-color: gray;
              z-index: 5;
          }
     h1{
        color: #E2E5EB;
        margin-top: 2vh;
        text-transform: uppercase;
        font-size: 21px;
         }
         a{
             font-size: 14px;
             color: #2B2E36;
         }
        }
    
    
    }
}

// @media screen and (max-width:420px){
// header{
//     height: 15vh;
//     display: flex;
//     nav{
//         flex-direction: row-reverse;
//         width: 100vw;
//         background-color: #6B7DB3 !important;
//         button{
//             background-color: #E2E5EB;
//             margin-left: -1vh;
//         }
//         #logo{
//         height: 10vh;
//         left:10px;
//         top: 17px;
//         }
//      h1{
//         color: #E2E5EB;
//         margin-top: 2vh;
//         text-transform: uppercase;
//         font-size: 21px;
//         }
//     }
    
    
// }
// }