<app-header></app-header>
<div class="contain">
    <div class="auth-wrapper">
        <form class="form-signin" [formGroup]="connecForm" (ngSubmit)="loginUser()">
            <div class="form-group">
                <label>Email</label>
                <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-block btn-primary">Connexion</button>
        </form>
    </div>
</div>
<app-footer></app-footer>